<mat-card class="card" [style.background]="color" cdkDrag>
	<mat-card-header class="header">
		<mat-card-title class="title">{{card.content}}</mat-card-title>
	</mat-card-header>
	<div class="icon-wrapper">
		<div class="comment-wrap">
			<button
        mat-icon-button
        disableRipple
        (click)="commentOpen = !commentOpen">
				<mat-icon class="icon">
          chat_bubble_outline
        </mat-icon>
			</button>
			<span>{{ card.comments.length }}</span>
		</div>

		<div class="like-wrap">
			<button
        mat-icon-button
        disableRipple
        class="like"
        (click)="onLikeChange('LIKE')">
				<mat-icon class="icon">
					thumb_up_off{{card.likeStatus === "LIKE" ?  '' : "_alt"  }}
				</mat-icon>
			</button>
			<span>{{ card.likeStatus === "LIKE" ? 1: 0 }}</span>
		</div>

		<div class="dislike-wrap">
			<button
        mat-icon-button
        disableRipple
        class="like"
        (click)="onLikeChange('DISLIKE')">
				<mat-icon class="icon">
					thumb_down_off{{ card.likeStatus === "DISLIKE" ? '' : "_alt"  }}
				</mat-icon>
			</button>
			<span>{{ card.likeStatus === "DISLIKE" ? 1: 0 }}</span>
		</div>

		<button
      mat-icon-button
      class="delete"
      (click)="onCardDelete()">
			<mat-icon class="icon">delete</mat-icon>
		</button>
	</div>
	<app-comment
    *ngIf="commentOpen"
    (submitComment)="onAddComment($event)"
    class="comment">
  </app-comment>
	<div class="comments-wrapper">
		<ul class="comments">
			<li class="item" *ngFor="let comment of card.comments">
				{{comment.content}}
			</li>
		</ul>
	</div>
</mat-card>
