.card {
  color: #fff;
  margin-bottom: 1rem;
  min-height: 80px;
  border-radius: 4px;
  overflow: hidden;
  padding: 0.5rem;
  cursor: move;
  padding-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;

  .header {
    flex: 1;
  }

  .title {
    font-size: 1rem;
  }

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.icon-wrapper {
  text-align: right;
  display: flex;

  .icon {
    font-size: 1.2rem;
  }
  .comment-wrap {
    text-align: left;
    flex: 1;
    margin: 0 0 0 10px;
  }

  .like {
    width: 25px;
    cursor: pointer;
  }

  .dislike-wrap {
    margin-right: 10px;
  }
}

.comments {
  background: rgba(255, 255, 255, 0.5);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
