<mat-form-field class="comment">
  <mat-label>Leave a comment</mat-label>
  <textarea matInput [(ngModel)]="text"></textarea>
  <button
    mat-button
    matSuffix
    mat-icon-button
    color="primary"
    class="icon-confirm"
  >
    <mat-icon (click)="addComment()">done</mat-icon>
  </button>
</mat-form-field>
