<mat-toolbar class="context">
	<div class="example-spacer">
		<span class="name">Temas alpha retro#1</span>
		<input class="set-context" value="Set context here...">
	</div>
	<button  mat-flat-button color="accent" (click)="openDialog()">
    Add column
  </button>
</mat-toolbar>
