.example-spacer {
  flex: 1 1 auto;
}

.name {
  margin: 0 1rem 0 0;
}

.context {
  background-color: #fff;
}

.set-context {
  font-size: 1.4rem;
  color: #ccc;
  cursor: default;
  padding: 0.5rem;
  border: none;

  &:focus {
    border-bottom: 1px solid #ccc;
    outline: none;
  }
}
