.board {
  height: 82vh;
  background: #ccc;
  padding: 1rem 1rem 0;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
}

.column {
  flex: 0 0 400px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
