<div class="board" cdkDropListGroup>
  <app-column *ngFor="let c of columns"
    class = "column"
    [column] = "c"
    cdkDropList
    [cdkDropListData] = "c.items"
    (cdkDropListDropped) = "drop($event)"
    ></app-column>
</div>
