.column {
  margin-right: 1rem;
  min-height: 80vh;
  background: rgba($color: #fff, $alpha: 0.5);

  .container {
    padding: 0 1rem;
  }

  .header {
    position: relative;
  }

  .add {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .title {
    position: relative;
    padding: 0 0 0 2rem;
    span {
      height: 15px;
      width: 15px;
      position: absolute;
      left: 0;
      top: 0.4rem;
    }
  }
}

.form {
  margin: -15px 0 0.5rem 0;
  .field {
    width: 100%;
  }
}

.icon-delete {
  position: absolute;
  top: -5px;
  right: 0;
  color: red;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
