 <div class="column">
   <div class="container">
     <div class="header">
 		<h3 class="title" [attr.data-before]="column.color">
 			<span [style.background]="column.color"></span>
 			{{column.name}}
 		</h3>
 		<button
      mat-icon-button
      class="icon-delete"
      (click)="onColumnDelete()">
 			<mat-icon class="icon">delete</mat-icon>
 		</button>
 	</div>

 	<button
    mat-flat-button
    color="default"
    class="add"
    (click)="onAddToggle()">+
 	</button>

 	<mat-card class="form" [formGroup]="form" *ngIf="isAddFormOpen">
 		<mat-form-field class="field" appearance="outline">
 			<mat-label>Card</mat-label>
       <textarea matInput formControlName="content"></textarea>
 		</mat-form-field>
 		<mat-card-actions>
 			<button mat-button type="submit" (click)="onAddCard()">
         Create
        </button>
 			<button
        class="add-button"
        mat-flat-button color="primary"
        type="button" (click)="onAddToggle()">
        Close
      </button>
 		</mat-card-actions>
 	</mat-card>
   </div>

 	<div class="card-wrapper">
 		<app-card
      class="card"
      *ngFor="let card of column.items"
      [card]='card'
      (changeLike)="onLikeChange($event)"
      (deleteCard)="onDeleteCard($event)"
      (addComment) = "onAddComment($event)"
      [color]="column.color!">
 		</app-card>
 	</div>
 </div>
