<div class="dialog">
	<h1 mat-dialog-title>Create column</h1>
	<div mat-dialog-content>
		<mat-form-field class="form-field">
			<mat-label>Column name</mat-label>
			<input matInput [(ngModel)]="name">
		</mat-form-field>
		<input [(colorPicker)]="color" [style.background]="color" />
	</div>
	<div mat-dialog-actions>
		<button mat-button (click)="onNoClick()">No Thanks</button>
		<button mat-button color="accent" (click)="onAddColumn()">Ok</button>
	</div>
</div>
